#eat{
   display:grid;
    place-items: center;
    background-color: purple;
    transition: all 1s ease-in;
}
#eat:hover{
    background-color: blue;
}

#mama{
    display:grid;
    place-items:center;
    color:blue;
    background-color: beige;
    transition: all 2s ease-in-out;
}
#mama:hover{
    transform: translatex(100%);
    animation:left-to-right 1s ease-in-out;
}

@keyframes left-to-right{
    0%{
        transform: translatex(0);
        background-color: brown;
    }
    33%{
        transform: translatex(100%);
    }
    66%{
        transform: transletex(100%) translatey(100);
    }
    100%{
        transform: translatex(100%);
        background-color: green;
    }
}

.food{
    place-items: center;
    grid-template-columns: 1fr 1fr;
}

p:hover{
    background-color: aqua;
    font-size: 17px;
}

section:active{
    color:darkkhaki;
}

h1:active{
    color:blueviolet;
    font-size:15px;
    
}

h2:nth-child(1){
    color:aquamarine;
}

:not(h2){
    color:brown;
}
#animation_section:hover>box_one{
transform: translatex(100%);
}

#animation_section:hover>box_two{
    transform: translatex(100%);
}



